html, body {
    font-family: 'Roboto', sans-serif;
    color: #404040;
    background-color: #eee;
    background-image: url('/images/slashes.gif');*/
}

.jumbotron {
    background: #9fa8a3;
    color: #173e43;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.jumbotron p {
    font-style: italic;
}

.fa {
    color: #000000;
}

.fa-1, .social {
    font-size: 2em;
}

.container {
    width: 620px;
}

.form-group, .information {
    margin-top: 0.5cm;
}

.posts {
    clear: both;
    list-style: lower-alpha;
    padding-left: 0;
    width: 100%;
}

.posts li {
    background-color: #eef;
    border: 1px solid #d8d8d8;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.list-group-item {
    display: list-item;
}
