<!doctype html>

<html lang="en-US">
    <head>
        <% include header.ejs %>
    </head>

    <body>
        <div class="jumbotron text-center">
            <h1>Take Quick Notes</h1>
        </div>

        <div class="container">
            <form>
                <div class="form-group">
                <textarea class="form-control notes-box" rows="1" placeholder="Write your quick short note and press enter to save ..." autofocus></textarea>
                </div>
            </form>
        </div>

        <div class="container">
            <h3>Saved Notes</h3>
            <p id="no-saved-notes">No notes saved yet ...</p>
            <ul class="posts"></ul>
        </div>

        <h3 class="storageFailure"></h3>

        <!-- Add the index.js script -->
        <script type="text/javascript" src="/jsfiles/index.js"></script>
    </body>
</html>
