<!doctype html>

<html lang="en-US">
    <head>
        <% include header.ejs %>
    </head>

    <body>
        <div class="jumbotron text-center">
            <h1>Quick Notes / To-Do List</h1>
            <p>Lightning Fast; Easy To Use; Stores Data In Your Browser</p>
        </div>

        <div class="container box-and-notes">
            <div class="container text-right">
                <div class="btn-group " role="toolbar">
                    <a href="/"><i class="fa fa-home fa-1"></i></a>
                    <a href="/info"><i class="fa fa-info-circle fa-1" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://github.com/deep4788/quickNotes"><i class="fa fa-github-square fa-2x social"></i></a>
                </div>
            </div>

            <div class="container">
                <ol class="list-group information">
                    <li class="list-group-item list-group-item-info">To create/save a note, press enter key once you have typed the note</li>
                    <li class="list-group-item list-group-item-info">To delete a note, simply click it</li>
                </ol>
            </div>
        </div>

        <h3 class="storageFailure"></h3>

        <!-- Add the index.js script -->
        <script type="text/javascript" src="/jsfiles/index.js"></script>
    </body>
</html>
